<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/entrada-saida-dados/src/br/com/dantas/adriano/io/BackupAPP.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.dantas.adriano.io.BackupAPP"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="entrada-saida-dados"/>
</launchConfiguration>
